<nav class="navigation">
    <div class="main-nav" id="nav">
        
            <a href="/" class="active">Home</a>
            <a href="/about">About</a>
            <a href="">Weather</a>
            <a href="" class="bar" onclick="myFunction()"><i class="fas fa-bars"></i></a>
    
        
    </div>
</nav>