<nav class="navigation">
    <div class="main-nav" id="nav">
            <a class="active">Weather App</a>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/weather">Weather</a>
            <a href="" class="bar"><i class="fas fa-bars"></i></a>        
    </div>
</nav>