@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.header{    
    width: 100%;
    padding: 20px 20px;
    margin: 0px;
    margin-bottom: 30px;
}

.main {
    position: relative;
    padding: 150px 150px;    
}

.wrap {
    position: relative;
    left: 60px;

}

.header h3{
     font-family: 'Bungee', cursive;
}

.city-icon {
    position: absolute;
    left: 80px;      
}

.card{    
    margin-left: 50px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
    background-color: lightgray;   
    font-family: 'Roboto Condensed', sans-serif; 
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.search #search-txt{   
    margin-top: 5px;
    border-color: lightskyblue;
    /* border-left-color:  lightblue; */
    font-size: 1rem;    
    width: 35%;
    padding: 20px;
}

.temperature {
    position: absolute;
    left: 110px;   
}

.humidity{
     position: absolute;
     left: 110px;
     top: 25px;
    }

.error {
    visibility: hidden;
}