/*
* test page style
*/
#error {
    box-sizing: border-box;
    background-color: #fbac62;
    width: 35%;
    padding-left: 20px;
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-areas:
        "title title "
        "box fetch-data";
    box-sizing: border-box;
    margin-top:20px;
}

.title {
    /* text-align: center; */
    justify-self: center;
    padding-top: 20px;
    grid-area: title;
    display: grid;
    background-color: #b398f6;
}

.box {
    grid-area: box;
    display: grid;
    border: 1px solid #ccc;
    background-color: lightgray;
}

button {
    background-color: #3F93AA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
}

button:hover {
    opacity: 1;
}

.fetch-data {
    margin: 0px;
    padding: 0px;
    grid-area: fetch-data;
    display: grid;
    background-color: #d0d0ff;
    width: 100%;
    height: 50vh;
    overflow: scroll;
}

.test {
    list-style-type: none;
}

/* test form style */
input[type=text] {
    width: 95%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: lightslategray;
}

input[type=text]::placeholder {
    color: white;
}

input[type=text]:focus {
    background-color: #577170;
    outline: none;
}

textarea {
    width: 99%;
    outline: none;
    overflow: auto;
    background: lightslategray;
}

textarea::placeholder {
    color: white;
}

textarea:focus {
    background-color: #577170;
}
.t {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* .testcard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
}

.testcard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */
.testli:nth-child(even){
    background-color: blueviolet;
}
.testli:nth-child(odd) {
    background-color: seagreen;
}
@media screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-gap: 0px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "title title "
            "box box"
            "fetch-data fetch-data";
        box-sizing: border-box;
    }
}