/*
* tv shows page style
*/
#search-show1 {
    border-left: 6px solid green;
    padding: 20px;
    width: 35%;
    font-size: 1rem;
}

.style {
    margin-top: 50px;
    text-align: center;
}

.output {
    list-style-type: none;
}

.tv-shows {
    margin-bottom: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    font-size: 1.2rem;
}
.card{    
    /* testing */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.1s;
}
.card:hover {
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
 }