<% include ../partials/head %>
<% include ../partials/navMenu %>


<h1 style="margin-top:90px;">Testing</h1>
    <section>
        <div class="about">
            <h1>About Us</h1>            
        </div>
        <div> Images section
            <img src="" alt="face-images?">images by html?
            <img src="" alt="face-images?">images by html?
        </div>
        <h1>Content Section and info</h1>
        <div class="wrapper">
            <p class="item-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, neque tempora veritatis adipisci, eligendi ipsam
                autem incidunt ipsum nisi exercitationem nam! Harum enim assumenda reiciendis voluptates, commodi necessitatibus
                saepe laboriosam!</p>
            <p class="item-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, neque tempora veritatis adipisci, eligendi ipsam
                autem incidunt ipsum nisi exercitationem nam! Harum enim assumenda reiciendis voluptates, commodi necessitatibus
                saepe laboriosam!</p>
            <p class="item-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, neque tempora veritatis adipisci,
                    eligendi ipsam
                    autem incidunt ipsum nisi exercitationem nam! Harum enim assumenda reiciendis voluptates, commodi necessitatibus
                    saepe laboriosam!</p>
        </div>
    </section>

    
<% include ../partials/footer %>
<% include ../partials/domscripts %>
<% include ../partials/closehtml %>



