<% include ../partials/head %>
<% include ../partials/navMenu %>

    <section style="margin-bottom:10px;">
        <div class="about">
            <h1>About Us</h1>      
            <h1>Content Section and info</h1>      
        </div>          
        <div class="wrapper">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="imgs/coffee1.jpeg"  style="width:100%;">
                    </div>                    
                </div>
            </div>                        
            <p class="item-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, neque tempora veritatis adipisci, eligendi ipsam
                autem incidunt ipsum nisi exercitationem nam! Harum enim assumenda reiciendis voluptates, commodi necessitatibus
                saepe laboriosam!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, neque tempora veritatis adipisci, eligendi ipsam
                autem incidunt ipsum nisi exercitationem nam! Harum enim assumenda reiciendis voluptates, commodi necessitatibus
                saepe laboriosam!</p>
                <h1><%= post.test %></h1>
                <img src="imgs/coffee1.jpeg" style="width:100%;">                
            <p class="item-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, neque tempora veritatis adipisci, eligendi ipsam
                autem incidunt ipsum nisi exercitationem nam! Harum enim assumenda reiciendis voluptates, commodi necessitatibus
                saepe laboriosam!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, neque tempora veritatis adipisci, eligendi ipsam
                autem incidunt ipsum nisi exercitationem nam! Harum enim assumenda reiciendis voluptates, commodi necessitatibus
                saepe laboriosam!</p>           
        </div>
    </section>
    <h4>treee</h4>

    
<% include ../partials/footer %>
<% include ../partials/domscripts %>
<% include ../partials/closehtml %>



