<% include ../partials/head %>

<body>
    <h1>Testing</h1>
    <div class="output">
        <h3>Name Output</h3>
    </div><br>
    <div class="username">
        <h3>UserName Output</h3>
    </div>

    
<% include ../partials/footer %>
<% include ../partials/scripts %>
</body>
</html>

