<% include ../partials/headexta %>
<% include ../partials/navMenu %>

<div class="appended-message"></div>
<div class="container">
    <form class="chat">
        <input type="text" class="input" autocomplete="off" autofocus />
        <button class="btn">Send</button>
    </form>
    <ul class="messages"></ul>
</div>


<% include ../partials/footer %>
<% include ../partials/domscripts %>
<% include ../partials/scripts %>
<% include ../partials/closehtml %>