<% include ../partials/head %>
<% include ../partials/navMenu %>


<body>
    <section class="container">
        <div class="header">
            home
        </div>       
            <div class="parallax">
                <h3>Welcome to our app</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita odit officiis iste sit tenetur accusantium, provident non molestiae eveniet sed totam eos quaerat beatae minima veritatis quis? Ducimus, quod impedit?</p>
            </div>
            <div class="static">
                <h3>Welcome to our app</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita odit officiis iste sit tenetur accusantium, provident non molestiae eveniet sed totam eos quaerat beatae minima veritatis quis? Ducimus, quod impedit?</p>
            </div>
            <div class="parallax">
                <h3>Welcome to our app</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita odit officiis iste sit tenetur accusantium, provident non molestiae eveniet sed totam eos quaerat beatae minima veritatis quis? Ducimus, quod impedit?</p>
            </div>
            
        
        <div class="test">
            sdadsdadasa
            <h4>sds</h4>
            <p>sadsdsadsdas</p>
            <div class="card">
                <h1>sdsd</h1>
                <p>test</p>
                <a href="">sds</a>
            </div>
        </div>    
    </section>


<% include ../partials/footer %>
<% include ../partials/domscripts %>
<% include ../partials/closehtml %>
