<% include ../partials/head %>
<% include ../partials/navMenu %>


<body>
    <div>
        home
    </div>


<% include ../partials/footer %>
<% include ../partials/domscripts %>
<% include ../partials/closehtml %>
