<% include ../partials/head %>
<% include ../partials/navMenu %>


<body>
    <section>
        <div class="header">
            home
        </div>
    </section>


<% include ../partials/footer %>
<% include ../partials/domscripts %>
<% include ../partials/closehtml %>
