<% include ../partials/head %>
<% include ../partials/navMenu %>


<body style="margin:0px;">
    <div class="home">
        <h1>Welcome to my Site</h1>
        <h3>Please explore and leave a comment about this site</h3>    
    <canvas id="canvas"></canvas>
    </div>

    


<% include ../partials/footer %>
<% include ../partials/domscripts %>
<% include ../partials/closehtml %>
