<% include ../partials/head %>
<% include ../partials/navMenu %>


<body>
    <section class="container">
        <div class="header"> 
            home         
        </div>       
        <div class="wrapper2">
            <div class="p parallax bg1">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita odit officiis iste sit tenetur accusantium, provident non molestiae eveniet sed totam eos quaerat beatae minima veritatis quis? Ducimus, quod impedit?</p>
            </div>
            <div class="p static">                
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita odit officiis iste sit tenetur accusantium, provident non molestiae eveniet sed totam eos quaerat beatae minima veritatis quis? Ducimus, quod impedit?</p>
            </div>
            <div class="p parallax bg2">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita odit officiis iste sit tenetur accusantium, provident non molestiae eveniet sed totam eos quaerat beatae minima veritatis quis? Ducimus, quod impedit?</p>
            </div>
        </div>            
        
        <div class="test">
            sdadsdadasa
            <h4>sds</h4>
            <p>sadsdsadsdas</p>
            <div class="card">
                <h1>sdsd</h1>
                <p>test</p>
                <a href="">sds</a>
            </div>
        </div>    
    </section>


<% include ../partials/footer %>
<% include ../partials/domscripts %>
<% include ../partials/closehtml %>
