<% include ../partials/headexta %>
<% include ../partials/navMenu %>

<body>    
    <div>
        <h1>test</h1>
        <h2>ajax test from /api</h2>
        <div>
            <ul class="test"></ul>
        </div>
</div>

<% include ../partials/footer %>
<% include ../partials/domscripts %>   
<% include ../partials/scripts %>
<% include ../partials/closehtml %>
