<% include ../partials/headexta %>
<% include ../partials/navMenu %>

<body>    
<div style="margin-top:100px;" class="card">
    <header class="header">
        <h3>Search a city</h3>
        <div class="search">
            <input type="text" placeholder="Enter City Name" id="search-txt">
            <a id="search-btn" href="#"><i class="fas fa-search" id="tt"></i></a>
        </div>
    </header>
<div id="error"></div>
    <main id="main" >
        <div class="city-icon">
            <div class="city-icon-holder">
                <div id="city-name"></div>
                <img src="" alt="" id="icon">
            </div>
        </div>
        <div class="wrap">
        <div class="temperature">
            <div id="temp"></div>
        </div>
        <div class="humidity">
            <div id="humidity-div"></div>
        </div>
        <div class="country"></div>
        </div>
    </main>
</div>

    <% include ../partials/footer %>
    <% include ../partials/domscripts %>    
    <% include ../partials/test %>    
    <% include ../partials/closehtml %>
