<% include ../partials/head %>
<% include ../partials/navMenu %>

<div class="style">
<div class="tv-shows">Testing TV Shows Api </div>
<div class="container">
    <header class="header">
        <div class="search">
            <input type="text" placeholder="Enter a show name" id="search-show1">
            <a id="search-btn" href="#"><i class="fas fa-search"></i></a>
        </div>
    </header>
</div>
<img id="icon">
<div class="output"></div> 
</div>


<% include ../partials/footer %>
<% include ../partials/domscripts %>
<% include ../partials/scripts %>
<% include ../partials/closehtml %>
