<% include ../partials/head %>
<% include ../partials/navMenu %>

<body>
    <h1 style="margin-top:90px;">Testing</h1>
    <div class="wrapper">    
   <div class="weatherCard">
      <h3 class="name"></h3>
      <div class="t">
        <img class="icon">
        <section class="p"></section>  
        <div class="info"></div>
      </div>         
   </div>   
</div>

    <% include ../partials/footer %>
    <% include ../partials/domscripts %>
    <% include ../partials/scripts %>
    <% include ../partials/closehtml %> 

