<% include ../partials/head %>
<% include ../partials/navMenu %>

<body>
    <h1 style="margin-top:90px;">Testing</h1>
    <div class="output">
        <h3>Weather</h3>
    </div><br>
    <div class="username">
        <h3>UserName Output</h3>
    </div>


    <% include ../partials/footer %>
    <% include ../partials/domscripts %>
    <% include ../partials/scripts %>
    <% include ../partials/closehtml %> 

